{{#nav-trigger-container}}
  <a href="//shipshape.io" class="logo">
    <img src="img/white.svg" alt="Logo" height="45px" width="45px">
    <centered class="logoText">SHIP SHAPE</centered>
  </a>
{{/nav-trigger-container}}

<screen class="main">
  <page>
    <grid>
      <centered xs="12">
        <span class="heading"><span class="pacifico">ember</span> flatpickr</span>
      </centered>
      <centered xs="12">
        <centered class="info" xs="8" md="6">
          Ember flatpickr is an Ember addon that wraps the datepicker flatpickr.
          All options available to flatpickr should be available. If one is missing,
          please file an issue on GitHub and we'll get it implemented straight away!
        </centered>
      </centered>
    </grid>

    <hbox justify="center">
      <hbox xs="10" md="8" lg="6">
        <hbox xs="12" justify="center">
          <box xs="12" md="6" class="half">
            <h2>Date/Time Picker</h2>
            {{ember-flatpickr
              allowInput=true
              appendDataInput=true
              date=(readonly dateValue)
              enableTime=true
              locale=locale
              minDate=minDate
              onClose=(action "onClose")
              onChange=(action "onChange")
              onReady=(action "onReady")
              placeholder="Pick date"
            }}

            <p class="selectedValue">
              You selected: {{dateValue}}
            </p>
          </box>
          <box xs="12" md="6" class="half">
            <h2>Options</h2>

            {{#power-select
              matchTriggerWidth=false
              options=locales
              placeholder="Choose a Locale"
              searchEnabled=false
              selected=locale
              triggerClass="select"
              onchange=(action (mut locale))
            as |option|
            }}
              {{option}}
            {{/power-select}}

            <button {{action "updateMin"}}>Set minDate to '2080-12-24T16:16:22.585Z'</button>
            <button {{action "clearDate"}}>Clear date</button>
          </box>
        </hbox>
        <hbox xs="12" justify="center">
          <box xs="12" md="6" class="half">
            <h2>Time Picker</h2>
            {{ember-flatpickr
              appendDataInput=true
              date=(readonly timeValue)
              enableTime=true
              locale=locale
              minDate=minDate
              noCalendar=true
              onClose=(action "onCloseTime")
              onChange=(action "onChangeTime")
              onReady=(action "onReadyTime")
              placeholder="Pick time"
            }}

            <p class="selectedValue">
              You selected: {{timeValue}}
            </p>
          </box>
          <box xs="12" md="6" class="half">
            <h2>Options</h2>

            <button {{action "clearTime"}}>Clear time</button>
          </box>
        </hbox>
      </hbox>
    </hbox>
  </page>
</screen>
{{wave-footer}}

{{#nav-container}}
  {{#each model.links as |link index|}}
    {{nav-item index=index link=link}}
  {{/each}}
{{/nav-container}}


