<DocsViewer as |viewer|>
  {{#viewer.nav as |nav|}}
    {{nav.section "Introduction"}}
    {{nav.item "Introduction" "docs.index"}}
    {{nav.item "Usage" "docs.usage"}}
    {{nav.item "Test Helpers" "docs.test-helpers"}}

    {{nav.section "Components"}}
    {{nav.item "ember-flatpickr" "docs.components.ember-flatpickr"}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}
</DocsViewer>